*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Georgia', "Times New Roman", Verdana, serif;
}

#main{
  max-width: 650px;
  margin: 0 auto;
  background-color: #fdf6f0;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 8px 23px #d11d53;
  border-top: 13px solid #b8336a;
}

.header{
  text-align: center;
  margin-bottom: 27px;
}

#title{
  font-size: 2.05rem;
   color: #b8336a;
   margin-bottom: 7px;
   font-family: "Georgia", serif; 
}

.subtitle{
  font-size: 1rem;
  color: #b2beb5;
  font-style: italic;
}

/* on the image divs */

#image{
  background-color: gray;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

#img-caption{
  margin-top: 17px;
  font-size: 1.1rem;
  color: #b2beb5;
  margin-bottom:12px;
  line-height: 1.43;
}

#tribute-info{
  font-size: 1.34rem;
  color: black;
  border-bottom: 8px solid #b8336a;
  margin-bottom: 14px;
  font-family: "Georgia", serif;
}

.intro{
  margin-bottom: 20px;
}

ul{
  list-style-type: square;
  padding-left: 21px;
}

li{
  margin-bottom: 13px;
}

.quote {
  background: white;
  border-left: 7px solid #b8336a;
  border-right: 12px solid #b8336a;
  padding: 12px 17px;
  margin-top: 45px;
  border-radius: 0 10px 10px 0;
  font-style: italic;
}

.quote cite{
  display: block;
  margin-top: 30px;
  font-weight: bold;
  font-style: italic;
  font-size: 1rem;
  color: #b2beb5;
}

.footer{
  text-align: center;
  border-top: 10px solid #D1D9E0;
  padding-top: 30px;
}

#tribute-link{
  display: inline-block;
  margin-top: 10px;
  color: #b8336a;
  font-weight: bold;
  text-decoration: none;
}

#tribute-link:hover{
  color: blue;
  text-decoration: underline;
}

@media (max-width: 600px){
  #main{
    padding: 25px 17px;
  }
  #title{
    font-size: 1.75rem;
  }
}
